{%- set page_name = "tariff-form" -%}
{%- if mode == 'edit' -%}
{%- set title = _('Edit') -%}
{%- else -%}
{%- set title = _('Add') -%}
{%- endif -%}

{%- from "_macros.html" import form_errors %}

{% extends "base.html" %}
{% block title %}
  {%- if mode == 'edit' -%}
    {{ icon('tariff') }} {{ _('Edit ') }} {{ form.data.name }}
  {%- else -%}
    {{ icon('tariff') }} {{ _('Add a New Tariff') }}
{%- endif -%}
{% endblock %}

{% block breadcrumbs %}
    {% call breadcrumb(role='operator', url=url_for('tariff.index')) %}
        {{ icon('tariff') }} {{ _('Tariffs') }}
    {% endcall %}
{%- if mode == 'edit' -%}
    {% call breadcrumb() %}
        {{ form.data.name }}
    {% endcall %}
    {% call breadcrumb() %}
        {{ icon('edit') }} {{ _('Edit') }}
    {% endcall %}
{%- else -%}
    {% call breadcrumb() %}


        {{ icon('add') }} {{ _('Add a New Tariff') }}
    {% endcall %}
{%- endif -%}

{% endblock breadcrumbs %}

{% macro form_tariff_error(form, field, class_=None) %}
  {% if form.errors[field] %}
  <div class="form-group{{ ' %s'|format(class_) if class_ }}" style="padding-left: 20px; margin-top: -10px">
    <span class="col-lg-offset-2 help-block note">
    <i class="icon-warning-sign"></i>
    {% for error in form.errors[field] %}
      {{ error }}
    {% endfor %}
    </span>
  </div>
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% call render_box(title, box_content_class="padded") %}
      <form class="form form-horizontal tariff" method="POST">
        {% include "tariff/_tariff-form-fields.html" %}

        {#- Save #}
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <input class="btn btn-primary" id="save_button" name="save_button" type="submit" value="{{ _('Save') }}">
          </div>
        </div>

      </form>
      {% endcall %}
    </div>
  </div>
{% endblock %}
