{% macro form_tariff_error(form, field, class_=None) %}
  {% if form.errors[field] %}
  <div class="form-group{{ ' %s'|format(class_) if class_ }}" style="padding-left: 20px; margin-top: -10px">
    <span class="col-lg-offset-2 help-block note">
    <i class="icon-warning-sign"></i>
    {% for error in form.errors[field] %}
      {{ error }}
    {% endfor %}
    </span>
  </div>
  {% endif %}
{% endmacro %}

<div id="tariff-form-params"
     data-blockrates="{{ form.data.blockrates|tojson|forceescape }}"
     data-blockrates-title="{{ _('Edit block rate')|tojson|forceescape }}"
     data-tous="{{ form.data.tous|tojson|forceescape }}"
     data-tous-title="{{ _('Edit time of use')|tojson|forceescape }}"
     data-load-limits="{{ form.data.load_limits|tojson|forceescape }}"
     data-load-limits-title="{{ _('Edit scheduled load limits of use')|tojson|forceescape }}">
</div>

{{ form.hidden_tag() }}

<div class="form-group" title="{{ form.name.description }}">
  {{ form.name.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-3">
    {{ form.name(class_="form-control") }}
  </div>
</div>
{{ form_tariff_error(form, 'name') }}

<div class="form-group cycle-start-day-of-month"
     title="{{ form.plan_duration_and_start_day.description }}">
  {{ form.plan_duration_and_start_day.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-3">
    {{ form.plan_duration_and_start_day(class_="form-control numeric no-negative") }}
  </div>
</div>
{{ form_tariff_error(form, 'cycle_start_day_of_month', class_='form-group cycle-start-day-of-month') }}

<div class="form-group">
  {{ form.load_limit_type.label(class_="control-label col-lg-2") }}
  <div id="radio-group load_limit_type" class="btn-group col-lg-10" data-toggle="buttons">
    <label class="btn btn-primary{{ ' active' if form.data.load_limit_type == "flat" }}">
      <input type="radio" name="load_limit_type" id="load_limit_type" value="flat"{{ ' checked' if form.data.load_limit_type == "flat" }}>{{ _('Flat') }}
    </label>
    <label class="btn btn-primary{{ ' active' if form.data.load_limit_type == "scheduled" }}">
      <input type="radio" name="load_limit_type" id="load_limit_type" value="scheduled"{{ ' checked' if form.data.load_limit_type == "scheduled" }}>{{ _('Scheduled') }}
    </label>
  </div>
</div>
{{ form_tariff_error(form, 'load_limit_type') }}

<div class="form-group load_limit_type flat{{ ' hide' if form.data.load_limit_type != "flat" }}">
  {{ form.flat_load_limit.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-3">
    {{ form.flat_load_limit(class_="form-control numeric no-negative") }}
    <span class="input-group-addon">{{ _('in watts', currency=config.CURRENCY) }}</span>
  </div>
</div>
{% set extra = '' %}
{% if form.data.load_limit_type != 'flat' %}
{% set extra = ' hide' %}
{% endif %}
{{ form_tariff_error(form, 'flat_load_limit', class_='form-group load_limit_type' + extra) }}

<div class="form-group load_limit_type scheduled{{ ' hide' if form.data.load_limit_type != 'scheduled' }}">
  <label class="control-label col-lg-2">{{ _('Load Limit Periods') }}</label>
  <div class="col-md-5" data-box="tariff-load-limits">
    {% include "tariff-load-limits-list.html" %}
  </div>
</div>
{% set extra = '' %}
{% if form.data.load_limit_type != 'scheduled' %}
{% set extra = ' hide' %}
{% endif %}
{{ form_tariff_error(form, 'load_limits', class_='form-group load-limits' + extra) }}

<div class="form-group" title="{{ form.low_balance_threshold.description }}">
  {{ form.low_balance_threshold.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-3">
    {{ form.low_balance_threshold(class_="form-control numeric") }}
    <span class="input-group-addon">{{ _('in %(currency)s', currency=config.CURRENCY) }}</span>
  </div>
</div>
{{ form_tariff_error(form, 'low_balance_threshold') }}

<div class="form-group" title="{{ form.plan_enabled.description }}">
  {{ form.plan_enabled.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-3">
    <div class="btn-group" data-toggle="buttons">
      <label class="iButton{{ ' active' if form.data.plan_enabled }}">
        {{ form.plan_enabled() }}
      </label>
    </div>
  </div>
</div>
{{ form_tariff_error(form, 'plan_enabled') }}

{% set extra = '' %}
{% if not form.data.plan_enabled %}
{% set extra = ' hide' %}
{% endif %}

<div class="form-group plan-fixed-fee{{ extra }}"
     title="{{ form.plan_fixed_fee.description }}">
  {{ form.plan_fixed_fee.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-3">
    {{ form.plan_fixed_fee(class_="form-control numeric no-negative") }}
    <span class="input-group-addon">{{ _('in %(currency)s', currency=config.CURRENCY) }}</span>
  </div>
</div>
{{ form_tariff_error(form, 'plan_fixed_fee', class_='form-group plan-fixed-fee' + extra) }}

<div class="form-group plan-price{{ extra }}"
     title="{{ form.plan_price.description }}">
  {{ form.plan_price.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-3">
    {{ form.plan_price(class_="form-control numeric no-negative") }}
    <span class="input-group-addon">{{ _('in %(currency)s', currency=config.CURRENCY) }}</span>
  </div>
</div>
{{ form_tariff_error(form, 'plan_price', class_='form-group plan-price' + extra) }}

<div class="form-group">
  {{ form.tariff_type.label(class_="control-label col-lg-2") }}
  <div id="radio-group tariff_type" class="btn-group col-lg-10" data-toggle="buttons">
    <label class="btn btn-primary{{ ' active' if form.data.tariff_type == "flat" }}">
      <input type="radio" name="tariff_type" id="tariff_type" value="flat"{{ ' checked' if form.data.tariff_type == "flat" }}>{{ _('Flat') }}
    </label>
    <label class="btn btn-primary{{ ' active' if form.data.tariff_type == "blockrate" }}">
      <input type="radio" name="tariff_type" id="tariff_type" value="blockrate"{{ ' checked' if form.data.tariff_type == "blockrate" }}>{{ _('Block rate') }}
    </label>
  </div>
</div>
{{ form_tariff_error(form, 'tariff_type') }}

<div class="form-group tariff_type flat{{ ' hide' if form.data.tariff_type != "flat" }}">
  {{ form.flat_price.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-3">
    {{ form.flat_price(class_="form-control numeric no-negative") }}
    <span class="input-group-addon">{{ _('in %(currency)s per kWh', currency=config.CURRENCY) }}</span>
  </div>
</div>
{% set extra = '' %}
{% if form.data.tariff_type != 'flat' %}
{% set extra = ' hide' %}
{% endif %}
{{ form_tariff_error(form, 'flat_price', class_='form-group tariff_type' + extra) }}

<div class="form-group tariff_type blockrate{{ ' hide' if form.data.tariff_type != "blockrate" }}">
  <label class="control-label col-lg-2">{{ _('Block rates') }}</label>
  <div class="col-md-5" data-box="tariff-blockrates">
    {% include "tariff-blockrate-list.html" %}
  </div>
</div>
{{ form_tariff_error(form, 'blockrates') }}

<div class="form-group">
  {{ form.tou_enabled.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-10">
    <div class="btn-group" data-toggle="buttons">
      <label class="iButton{{ ' active' if form.data.tou_enabled }}">
        {{ form.tou_enabled }}
      </label>
    </div>
  </div>
</div>
{{ form_tariff_error(form, 'tou_enabled') }}

<div class="form-group tou{{ ' hide' if not form.data.tou_enabled }}">
  <label class="control-label col-lg-2">{{ _('TOU Periods') }}</label>
  <div class="col-md-5" data-box="tariff-tous">
    {% include "tariff-tou-list.html" %}
  </div>
</div>
{% set extra = '' %}
{% if not form.data.tou_enabled %}
{% set extra = ' hide' %}
{% endif %}
{{ form_tariff_error(form, 'tous', class_='form-group tou' + extra) }}

<div class="form-group">
  {{ form.daily_energy_limit_enabled.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-10">
    <div class="btn-group" data-toggle="buttons">
      <label class="iButton{{ ' active' if form.data.daily_energy_limit_enabled }}">
        {{ form.daily_energy_limit_enabled }}
      </label>
    </div>
  </div>
</div>
{{ form_tariff_error(form, 'daily_energy_limit_enabled') }}

<div class="form-group daily-energy-limit-reset-hour{{ ' hide' if not form.data.daily_energy_limit_enabled }}"
     title="{{ form.daily_energy_limit_reset_hour.description }}">
  {{ form.daily_energy_limit_reset_hour.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-3">
    {{ form.daily_energy_limit_reset_hour(class_="form-control") }}
  </div>
</div>
{% if form.data.daily_energy_limit_enabled -%}
{{ form_tariff_error(form, 'daily_energy_limit_reset_hour', class_='form-group daily-energy-limit-reset-hour') }}
{%- endif %}

<div class="form-group daily-energy-limit-value{{ ' hide' if not form.data.daily_energy_limit_enabled }}"
     title="{{ form.daily_energy_limit_value.description }}">
  {{ form.daily_energy_limit_value.label(class_="control-label col-lg-2") }}
  <div class="input-group col-lg-3">
    {{ form.daily_energy_limit_value(class_="form-control numeric no-negative") }}
    <span class="input-group-addon">{{ _('in kWh') }}</span>
  </div>
</div>
{% if form.data.daily_energy_limit_enabled -%}
{{ form_tariff_error(form, 'daily_energy_limit_value', class_='form-group daily-energy-limit-reset-value') }}
{%- endif %}
