{% set table_class = "user-list" %}
{% set in_box = True %}
{% set box_content_class = "padded" %}
{% set table_extra = [' data-role=', role]|join("") %}

{% extends "list/base.html" %}

{% block toolbar %}
  <li class="toolbar-link">
    <a class="cog" href="#" data-toggle="dropdown"><i class="icon-cog"></i></a>
    <ul id="export-menu" class="dropdown-menu">
      <li>
        <a class="add" href="{{ url_for('user.add', role=role) }}">{{ icon('add') }} {{ add_label }}</a>
      </li>
    </ul>
  </li>
{% endblock %}
