{%- set page_name = "meter-form" -%}
{%- if form.mode == 'edit' -%}
{%- set title = _('Edit %(meter)s', meter=meter.title()) -%}
{%- else -%}
{%-   if meter_type == 'customer' -%}
{%-     set title = _('Add a new customer meter') -%}
{%-   else -%}
{%-     set title = _('Add a new totalizer meter') -%}
{%-   endif -%}
{%- endif -%}

{%- from "_macros.html" import form_errors, form_error %}
{% extends "base.html" %}

{% block title %}{{ icon('meter') }} {{ title }} {% endblock %}
{%- if form.mode == 'edit' -%}
{% block subtitle %}{{ _('Edit') }}{% endblock %}
{%- endif -%}
{% block scripts %}
  {{ super() }}
  {% if meter_type == 'customer' %}
  <script type="text/javascript">
    (function($) {
      var ADD_NEW_VALUE = '__add_new__';
      var MODAL_ID = '#meter-tariff-modal';
      var MODAL_FORM_URL = '{{ url_for("tariff.add_modal") }}';

      function flashMessage(message, level) {
        var alerts = $('.alerts');
        if (!alerts.length) {
          return;
        }
        alerts.append(
          $('<div></div>')
            .addClass('alert alert-' + (level || 'info'))
            .text(message)
        );
      }

      function MeterTariffModal() {
        this.select = $('select#tariff');
        if (!this.select.length) {
          return;
        }
        this.previousValue = this.select.val() || '';
        this.ensureSelectOptions();
        this.ensureModal();
        this.bindEvents();
      }

      MeterTariffModal.prototype.bindEvents = function() {
        var self = this;

        this.select.on('focusin', function() {
          self.previousValue = self.currentTariffValue();
        });

        this.select.on('change', function() {
          if ($(this).val() === ADD_NEW_VALUE) {
            self.openModal();
          } else {
            self.previousValue = self.currentTariffValue();
          }
        });

        $(MODAL_ID).on('hidden.bs.modal', function() {
          self.restoreTariffSelection();
        });

        $(document).on('click', '#meter-tariff-modal-save', function(event) {
          event.preventDefault();
          self.submitModal();
        });
      };

      MeterTariffModal.prototype.ensureSelectOptions = function() {
        if (!this.select.find('option[value="' + ADD_NEW_VALUE + '"]').length) {
          this.select.append($('<option></option>').val(ADD_NEW_VALUE).text('<Add New>'));
        }
      };

      MeterTariffModal.prototype.ensureModal = function() {
        if ($(MODAL_ID).length) {
          return;
        }
        $('body').append(
          '<div class="modal fade" id="meter-tariff-modal" tabindex="-1" role="dialog" aria-hidden="true">' +
          '  <div class="modal-dialog modal-lg">' +
          '    <div class="modal-content">' +
          '      <div class="modal-header">' +
          '        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
          '        <h4 class="modal-title">{{ _("Add a New Tariff") }}</h4>' +
          '      </div>' +
          '      <div class="modal-body"><p>{{ _("Loading tariff form...") }}</p></div>' +
          '      <div class="modal-footer">' +
          '        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Cancel") }}</button>' +
          '        <button type="button" class="btn btn-primary" id="meter-tariff-modal-save">{{ _("Save") }}</button>' +
          '      </div>' +
          '    </div>' +
          '  </div>' +
          '</div>'
        );
      };

      MeterTariffModal.prototype.openModal = function() {
        var self = this;
        $.get(MODAL_FORM_URL)
          .done(function(html) {
            self.renderModal(html);
            $(MODAL_ID).modal('show');
          })
          .fail(function() {
            flashMessage('{{ _("Could not load the tariff form.") }}', 'danger');
            self.restoreTariffSelection();
          });
      };

      MeterTariffModal.prototype.renderModal = function(html) {
        $(MODAL_ID).find('.modal-body').html(html);
        this.setupModalWidgets();
      };

      MeterTariffModal.prototype.setupModalWidgets = function() {
        $(MODAL_ID).find('select.select2').select2();
        $(MODAL_ID).find('input.numeric').numeric();
        $(MODAL_ID).find('.iButton').iButton();
        $(MODAL_ID).find('.iButton-icons').iButton({
          labelOn: "<i class='icon-ok'></i>",
          labelOff: "<i class='icon-remove'></i>",
          handleWidth: 30
        });
        $(MODAL_ID).find('input.timepicker').datetimepicker({
          datepicker: false,
          closeOnTimeSelect: true,
          format: 'H:i',
          mask: '29:00',
          allowTimes: [
            '00:00', '01:00', '02:00', '03:00', '04:00', '05:00',
            '06:00', '07:00', '08:00', '09:00', '10:00', '11:00',
            '12:00', '13:00', '14:00', '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '00:00'
          ]
        });
      };

      MeterTariffModal.prototype.submitModal = function() {
        var self = this;
        var form = $(MODAL_ID).find('form#tariff-modal-form');
        if (!form.length) {
          return;
        }

        $.ajax({
          url: form.attr('action'),
          method: 'POST',
          data: form.serialize()
        }).done(function(data) {
          self.addTariffOption(data.tariff.id, data.tariff.name);
          self.previousValue = String(data.tariff.id);
          self.select.val(self.previousValue);
          $(MODAL_ID).modal('hide');
          flashMessage(data.message || '{{ _("Tariff created.") }}', 'success');
        }).fail(function(xhr) {
          if (xhr.status === 400 && xhr.responseText) {
            self.renderModal(xhr.responseText);
            return;
          }
          flashMessage('{{ _("Could not save the tariff.") }}', 'danger');
        });
      };

      MeterTariffModal.prototype.addTariffOption = function(value, label) {
        var option = this.select.find('option[value="' + value + '"]');
        if (!option.length) {
          option = $('<option></option>').val(value).text(label);
          var addNewOption = this.select.find('option[value="' + ADD_NEW_VALUE + '"]');
          if (addNewOption.length) {
            addNewOption.before(option);
          } else {
            this.select.append(option);
          }
        } else {
          option.text(label);
        }
      };

      MeterTariffModal.prototype.restoreTariffSelection = function() {
        if (this.select.val() !== ADD_NEW_VALUE) {
          return;
        }
        this.select.val(this.previousValue || '');
      };

      MeterTariffModal.prototype.currentTariffValue = function() {
        var value = this.select.val() || '';
        return value === ADD_NEW_VALUE ? '' : value;
      };

      $(function() {
        new MeterTariffModal();
      });
    })(jQuery);
  </script>
  {% endif %}
{% endblock scripts %}

{% block breadcrumbs %}
    {% call breadcrumb(role='operator', url=url_for('ground.index')) %}
        {{ icon('grounds') }} {{ _('Grounds') }}
    {% endcall %}
    {% call breadcrumb() %}
        {{ icon('ground') }} {{ ground.name|e }}
    {% endcall %}
    {%- if form.mode == 'edit' -%}
        {% call breadcrumb(url=url_for('meter.view', meter_serial=meter.serial)) %}
        {{ icon('meter') }} {{ meter.title() }}
        {% endcall %}
        {% call breadcrumb() %}
        {{ icon('edit') }} {{ _('Edit') }}
        {% endcall %}
    {%- else -%}
        {% call breadcrumb() %}
        {{ icon('add') }} {{ title }}
        {% endcall %}
    {%- endif -%}
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% set box_content_class = 'padded' %}
            {% if form.mode == 'add' and config['HEROKU'] %}
              {% set box_content_class = 'padded row' %}
            {% endif %}
            {% call render_box(title, box_content_class=box_content_class) %}
                <form class="form form-horizontal" role="form" method="POST">
                    {{- form.hidden_tag() -}}
                    {{ form_errors(form, hiddens='only') }}
                    {% if form.errors %}
                    <div class="alert alert-danger">
                      {{ _('Please correct the highlighted fields and try again.') }}
                    </div>
                    {% endif %}
                    {%- if form.mode == 'add' -%}
                    {{ addon_form_field(form.serial, form_type="horizontal", horizontal_columns=('lg', 2, 10)) }}
                    {%- endif -%}
                    <div class="form-group{% if form.provider_id.errors %} has-error{% endif %}" title="{{ form.provider_id.description }}">
                      {{ form.provider_id.label(class="control-label col-lg-2") }}
                      <div class="input-group col-lg-10">
                        {{ form.provider_id(class="form-control") }}
                      </div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-10">
                      {{ form_error(form.provider_id) }}
                    </div>
                    <div class="form-group" title="{{ form.tags.description }}">
                      {{ form.tags.label(class_="control-label col-lg-2") }}
                      <div class="input-group col-lg-10">
                        {{ form.tags(class="form-control") }}
                      </div>
                    </div>

                    {%- if meter_type == 'customer' -%}
                    {#- The modal's behavior lives in meter/js/meter-tariff-modal.js; its
                        configuration and user-facing strings are carried here. `forceescape`
                        is required: flask-babel's LazyString defines `__html__`, so a
                        translated string is otherwise emitted without escaping and a quote
                        or an angle bracket in a translation would break the attribute. -#}
                    <div id="meter-tariff-modal-params"
                         data-modal-url="{{ url_for('tariff.add_modal') }}"
                         data-add-new-value="{{ form.ADD_NEW_TARIFF }}"
                         data-add-new-label="{{ _('<Add New>')|forceescape }}"
                         data-text-title="{{ _('Add a New Tariff')|forceescape }}"
                         data-text-loading="{{ _('Loading tariff form...')|forceescape }}"
                         data-text-cancel="{{ _('Cancel')|forceescape }}"
                         data-text-save="{{ _('Save')|forceescape }}"
                         data-text-saving="{{ _('Saving...')|forceescape }}"
                         data-text-created="{{ _('Tariff created.')|forceescape }}"
                         data-text-load-error="{{ _('Could not load the tariff form.')|forceescape }}"
                         data-text-save-error="{{ _('Could not save the tariff.')|forceescape }}"
                         data-text-session-expired="{{ _('Your session has expired. Please reload the page and sign in again.')|forceescape }}">
                    </div>
                    <div class="form-group{% if form.tariff.errors %} has-error{% endif %}">
                      {{ form.tariff.label(class="control-label col-lg-2") }}
                      <div class="input-group col-lg-10">
                        {{ form.tariff(class="form-control") }}
                      </div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-10">
                      {{ form_error(form.tariff) }}
                    </div>
                    {%- endif -%}

                    <div class="form-group">
                      {{ form.active.label(class="control-label col-lg-2") }}
                      <div class="input-group col-lg-10">
                        {{ form.active(class="form-control") }}
                      </div>
                    </div>
                    {{ form_error(form.active) }}

                    {%- if meter_type == 'customer' -%}
                    <div class="form-group">
                      {{ form.state.label(class="control-label col-lg-2") }}
                      <div class="input-group col-lg-10">
                        {{ form.state(class="form-control") }}
                      </div>
                    </div>
                    {{ form_error(form.state) }}
                    {%- endif -%}

                    {{ addon_form_field(form.address_street1, form_type="horizontal", horizontal_columns=('lg', 2, 10), custom_style="indented-form") }}
                    {{ addon_form_field(form.address_street2, form_type="horizontal", horizontal_columns=('lg', 2, 10), custom_style="indented-form") }}
                    {{ addon_form_field(form.address_city, form_type="horizontal", horizontal_columns=('lg', 2, 10), custom_style="indented-form") }}
                    {{ addon_form_field(form.address_state, form_type="horizontal", horizontal_columns=('lg', 2, 10), custom_style="indented-form") }}
                    {{ addon_form_field(form.address_country, form_type="horizontal", horizontal_columns=('lg', 2, 10), custom_style="indented-form") }}
                    {{ addon_form_field(form.address_coords, form_type="horizontal", horizontal_columns=('lg', 2, 10), custom_style="indented-form") }}
                    {%- if meter_type == 'customer' -%}
                    <div class="form-group indented-form">
                      <label class="control-label col-lg-2" for="customer">Customer</label>
                      <div class="input-group col-lg-10">
                        {{- addon_form_field(form.customer_name, form_type="horizontal") -}}
                        {{- addon_form_field(form.customer_code, form_type="horizontal") -}}
                        <div class="form-group {% if form.customer_country_code.errors or form.customer_national_number.errors %}has-error{% endif %}">
                          {{ form.customer_national_number.label(class_="control-label col-lg-2") }}
                          <div class="input-group">
                            <div class="col-sm-5 col-xs-5">
                              {{ form.customer_country_code(class="form-control") }}
                            </div>
                            <div class="col-sm-5 col-xs-8">
                              {{ form.customer_national_number(class="form-control") }}
                            </div>
                          </div>
                          <div class="col-lg-offset-2">
                            <p>
                              {{ form_error(form.customer_country_code) }}
                            </p>
                            <p>
                              {{ form_error(form.customer_national_number) }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {%- endif -%}
                    {{ addon_form_field(form.save_button, form_type="horizontal", horizontal_columns=('lg', 2, 10), button_map={'save_button': 'primary'}) }}
                    {% if config['HEROKU'] and form.mode == 'add' %}
                      <p class="col-lg-offset-2 col-lg-6">
                        Depending on connectivity, it might take some time for a meter created in GroundBolt to show in ThunderCloud.
                        If you think that a meter with this same serial has already been created in GroundBolt, please do not create it again here.
                        Instead wait for a short while to allow GroundBolt to sync. If the meter is still not displayed in ThunderCloud, please contact support.
                      </p>
                    {% endif %}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}
